h1, h2, h3, h4, h5, h6 {
    font-family: "Deja Vu";
}

h1 {
    font-size: 32px;
    line-height: 46px;
    @media screen and (max-width: $mobile ){
        font-size: 24px;
        line-height: 36px;
    }
}

h2 {
    font-size: 32px;
    line-height: 46px;
    @media screen and (max-width: $mobile ){
        font-size: 24px;
        line-height: 36px;
    }
}

h3 {
    font-size: 24px;
    line-height: 36px;
    font-family: "Deja Vu Bold";
}

p {
    color: $color-black;
    font-size: 16px;
    line-height: 26px;
}

.relative {
    position: relative;
}

a {
    color: $color-sushi;
    position: relative;
    &:hover {
        color: $color-sushi;
        text-decoration: none;
        background: linear-gradient(to right, $color-sushi 0%, $color-sushi 100%);
        background-repeat: repeat-x;
        background-position: 0 90%;
        background-size: 100% 8px;
    }

    &:active,
    &:focus {
        color: $color-sushi;
        text-decoration: none;
    }

    &.arrow {
        font-size: 16px;
        line-height: 26px;
        position: relative;
        padding-right: 30px;

        &:hover {
            background: none;
        }

        &:after {
            content: "";
            position: absolute;
            width: 19px;
            height: 10px;
            top: 3px;
            right: 0;
            background: url(../images/ArrowGreen.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000;
}

.btn {
    color: $color-white;
    background: $color-sushi;
    padding: 13px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 0;
    @media screen and (max-width: $mobile ){
        width: 100%;
    }
    &:hover,
    &:focus,
    &:active {
        background: none;
        color: $color-white;
        background: $color-sushi;
    }
}

.container {
    @media screen and (max-width: $mobile ){
        padding-right: 30px;
        padding-left: 30px;
    }
}
