section.leading-text {
    padding-top: 25px;
    padding-bottom: 60px;
    @media screen and (max-width: $tablet ){
        padding-top: 60px;
    }
    .short-description {
        font-family: "Hind";
        font-size: 14px;
        margin-bottom: 33px;
        a {
            &:hover {
                background-position: 0 70%;
            }
        }
    }
}

section.research-highlights {
    overflow: hidden;
    background: linear-gradient(90deg, rgba($color-sushi, 0.1) calc( 50% + 350px ), $color-white 50%);
    padding-top: 90px;
    position: relative;
    padding-bottom: 60px;
    @media screen and (max-width: $tablet ){
        padding-top: 50px;
        background: rgba($color-sushi, 0.1);
    }
    h2 {
        margin-bottom: 33px;
        @media screen and (max-width: $tablet ){
            margin-bottom: 395px;
        }
    }

    .row {
        .single-project {
            &:first-child {
                margin-right: 30px;
            }
        }
    }

    .right-slide-img {
        position: absolute;
        right: -400px;
        transition: .3s;
        @media screen and (max-width: $tablet ){
            top: 113px;
            width: 345px;
            right: auto;
            left: 100%;
        }
        &.visible {
            right: calc( (100% - 1140px)/2 - 150px );
            @media screen and (max-width: $desktop ){
                right: calc( (100% - 1140px)/2 - 100px );
            }
            @media screen and (max-width: $tablet ){
                left: calc( ( 100% - 750px ) / 2 + 15px );
            }
            @media screen and (max-width: $mobile ){
                left: 30px;
            }
        }
    }

    .single-project {
        padding-bottom: 16px;
        width: calc( 50% - 15px );

        @media screen and (max-width: $tablet ){
            width: 100%;
            padding-bottom: 30px;
        }

        h4 {
            padding-top: 20px;
            border-top: 4px solid $color-sushi;
            font-size: 16px;
            line-height: 26px;
            color: $color-dusty-gray;
            font-family: "Hind Semi Bold";
            margin-bottom: 10px;
        }
        a.text-link {
            font-size: 21px;
            line-height: 33px;
            color: $color-black;
        }
    }
}

section.living-lab {
    padding-top: 90px;
    padding-bottom: 60px;
    @media screen and (max-width: $mobile ){
        padding-top: 60px;
    }
    h2 {
        margin-bottom: 20px;
    }
    .living-lab-header {
        margin-bottom: 30px;
    }
    .event {
        @media screen and (max-width: $tablet ){
            margin-bottom: 30px;
        }
        .event-img {
            height: 200px;
            background: url(../images/15mbslika.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            @media screen and (max-width: $tablet ){
                height: 300px;
            }
            @media screen and (max-width: $mobile ){
                height: 230px;
            }
        }
        .day {
            position: absolute;
            top: 10px;
            right: 10px;
            color: $color-white;
            font-size: 48px;
            font-family: "Hind";
            line-height: 1;
        }
        .month {
            position: absolute;
            top: 50px;
            right: 16px;
            color: $color-white;
            font-size: 14px;
            font-family: "Hind";
            text-transform: uppercase;
        }
        p.copy {
            background: rgba($color-sushi, 0.1);
            padding: 13px 10px 10px;
            a {
                color: $color-black;
            }
        }
    }
    .arrow {
        margin-top: 30px;
        &:after {
            top: 7px;
        }
        @media screen and (max-width: $mobile ){
            float: none !important;
            &:after {
                top: 4px;
            }
        }
    }
    .btn {
        @media screen and (max-width: $tablet ){
            margin-top: 20px;
            float: none !important;
        }
    }
}

section.services {
    background: url(../images/15mbslika.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (max-width: $mobile ){
        padding: 40px 15px 44px;
    }
    h2 {
        margin-bottom: 30px;
    }

    .services-box {
        padding: 60px;
        background-color: $color-white;
        @media screen and (max-width: $mobile ){
            padding: 15px;
        }
        .copy {
            display: none;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 26px;
            @media screen and (max-width: $mobile ){
                display: inline-block;
            }
        }
        .single-service {
            border-top: 4px solid $color-sushi;
            padding-bottom: 30px;
            @media screen and (max-width: $tablet ){
                padding-bottom: 10px;
            }
            p {
                font-size: 21px;
                line-height: 33px;
                padding-top: 15px;
            }
        }
    }
}

section.lately {
    padding-top: 90px;
    padding-bottom: 60px;
    @media screen and (max-width: $mobile ){
        padding-top: 60px;
    }
    h2 {
        margin-bottom: 30px;
    }
    .single-lately {
        @media screen and (max-width: $tablet ){
            margin-top: 10px;
            margin-bottom: 30px;
        }
        .lately-img {
            height: 270px;
            background: url(../images/15mbslika.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-bottom: 10px solid $color-sushi;
            margin-bottom: 20px;
        }

        date{
            color: $color-dusty-gray;
            font-size: 16px;
            line-height: 26px;
            font-family: "Hind Semi Bold";
            display: block;
        }
        p {
            font-size: 24px;
            line-height: 38px;
            margin-bottom: 10px;
        }
        .read-more {
            font-size: 14px;
            line-height: 23px;
            font-family: "Hind Semi Bold";
            color: $color-swamp-green;
            &:hover {
                background-position: 0 70%;
            }
        }

    }
}

section.join-our-team {
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 70px;
    background: linear-gradient(90deg, rgba($color-sushi, 0.1) 50%, $color-white 50%);
    position: relative;
    @media screen and (max-width: $tablet ){
        padding-top: 40px;
        padding-bottom: 50px;
        background: rgba($color-sushi, 0.1);
    }
    h2 {
        margin-bottom: 40px;
        @media screen and (max-width: $tablet ){
            margin-bottom: 230px;
        }
    }
    .single-service {
        border-top: 4px solid $color-sushi;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .service-title {
        font-size: 21px;
        line-height: 33px;
    }
    .arrow {
        font-size: 14px;
        line-height: 23px;
    }
    .right-slide-img {
        position: absolute;
        top: 93px;
        width: 1000px;
        right: -1000px;
        transition: .3s;
        @media screen and (max-width: $tablet ){
            top: 110px;
            width: 350px;
            right: auto;
            left: 100%;
        }
        &.visible {
            right: calc( (100% - 1140px)/2 - 330px);
            @media screen and (max-width: $tablet ){
                left: calc( (100% - 750px)/2 + 15px);
            }
            @media screen and (max-width: $mobile ){
                left: 30px;
            }
        }
    }
}

section.subscribe {
    padding-top: 150px;
    padding-bottom: 90px;
    text-align: center;
    @media screen and (max-width: $tablet ){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (max-width: $mobile ){
        text-align: left;
    }
    h2 {
        font-family: "Hind";
        line-height: 52px;
        margin-bottom: 30px;
        @media screen and (max-width: $mobile ){
            margin-bottom: 20px;
            line-height: 38px;
        }
    }
    .small-title {
       color: $color-dusty-gray;
       font-size: 16px;
       line-height: 26px;
       font-family: "Hind Semi Bold";
       text-transform: uppercase;
       margin-bottom: 10px;
    }
    .subscribe-form {
        input {
            padding: 8px;
            border: none;
            border-bottom: 2px solid $color-sushi;
            font-size: 21px;
            line-height: 33px;
            margin-right: 27px;
            width: 240px;
            color: $color-black;
            @media screen and (max-width: $mobile ){
                width: 100%;
                margin-bottom: 32px;
            }
            &:focus {
                outline: none;
            }
        }
        .btn {
            font-family: "Hind Semi Bold";
        }
    }
}
