.logos-hero {
    height: 300px;
    z-index: 10;
    position: relative;
    color: white;

    .left-logo {
        padding-top: 25px;
        @media screen and (max-width: $mobile ){
            margin-left: 15px;
        }
        img {
            width: 160px;
            height: auto;
            @media screen and (max-width: $mobile ){
               width: 116px;
            }
        }
    }

    .right-logo {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 25px;
        @media screen and (max-width: $mobile ){
            right: 30px;
        }

        .mentored-by {
            font-family: "Hind";
            font-size: 12px;
            margin-right: 22px;
            @media screen and (max-width: $mobile ){
               display: none;
            }
        }
    }
}

#carousel {
    margin-top: -300px;

    .item {
        height: 500px;
        background: url(../images/15mbslika.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @media screen and (max-width: $mobile ){
           height: 300px;
        }
    }

    .carousel-indicators {
        left: auto;
        width: auto;
        right: 0;
        bottom: -50px;
        @media screen and (max-width: $tablet ){
            right: auto;
            left: calc( (100% - 750px)/2 + 5px);
            margin-left: 0;
        }
        @media screen and (max-width: $mobile ){
            left: 20px;
        }
        li {
            background-color: $color-black;
            border: none;
            width: 8px;
            height: 8px;
            margin: 10px;
            position: relative;
            transition: .3s;

            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                background-color: $color-sushi;
                display: inline-block;
                top: 3px;
                right: -48px;
                transition: .3s;
            }

            &.active {
                background-color: $color-sushi;
                margin-right: 58px;
                &:after {
                    transition: 0;
                    width: 48px;
                }
            }
        }
    }
}
