footer {
    padding-top: 60px;
    color: $color-white;
    background-color: $color-tundora;
    p {
        font-size: 16px;
        line-height: 24px;
        color: $color-white;
    }
    h3 {
        margin-bottom: 30px;
    }
    .location {
        p {

            margin-bottom: 30px;
        }
    }
    .single-service {
        border-top: 4px solid $color-green-white;
        padding-top: 10px;
        padding-bottom: 30px;
        max-width: 222px;
        p {
            line-height: 26px;
        }
        .arrow {
            font-size: 14px;
            line-height: 23px;
        }
    }
    .small-title {
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: $color-dusty-gray;
        font-family: "Hind Semi Bold";
        margin-bottom: 31px;
    }
    nav {
        @media screen and (max-width: $tablet ){
            margin-bottom: 51px;
        }
        li {
            list-style: none;
        }
        a {
            font-size: 16px;
            line-height: 24px;
            color: $color-white;
            font-family: "Hind";
            &:hover,
            &:focus {
                background: none;
                color: $color-white;
            }
        }
    }
    .small-text {
        font-size: 12px;
        line-height: 20px;
        font-family: "Hind";
        margin-top: 10px;
        margin-bottom: 32px;
    }

    .logo {
        margin-bottom: 25px;
        &:nth-child( n + 1 ) {
            margin-right: 50px;
        }
    }
}

.sub-footer {
    border-top: 2px solid rgba($color-white, 0.2);
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    @media screen and (max-width: $mobile ){
        padding-top: 29px;
        padding-bottom: 40px;
        margin-top: 36px;
    }
    .social {
        a {
           &:hover {
            background: none;
            }
        }
        img {
            margin-right: 20px;
        }
    }
    .terms {
        padding-top: 18px;
        @media screen and (max-width: $mobile ){
            float: none !important;
            clear: both;
            padding-top: 30px;
        }
    }
}
