header {
    font-family: "Hind";

    .main-nav {
        height: 70px;
        background-color: $color-white;
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .navbar-brand {
        font-size: 16px;
        color: $color-black;
        padding: 0;
        position: relative;
        z-index: 100;
        font-family: "Deja Vu Bold";
        &:hover {
            text-decoration: none;
        }
    }

    .navbar-nav {
        display: inline-block;
        @media screen and (max-width: $mobile ){
            padding-bottom: 75px;
        }
        li {
            margin-right: 30px;
            display: inline-block;
            float: left;
            @media screen and (max-width: $mobile ){
                width: 100%;
            }
            a {
                font-size: 16px;
                line-height: 26px;
                color: $color-black;
                padding: 0;
                @media screen and (max-width: $mobile ){
                    font-size: 24px;
                    line-height: 38px;
                    padding-bottom: 10px;
                }
                &:hover {
                    color: $color-black;
                    text-decoration: none;
                    background-position: 0 70%;
                }
            }
        }
    }

    .language {
        font-size: 16px;
        line-height: 26px;
        float: right;
        display: inline-block;
        @media screen and (max-width: $mobile ){
            position: absolute;
            bottom: 85px;
        }
        a {
            color: $color-green-white;
            font-family: "Hind Bold";
            &:first-child {
                margin-right: 30px;
                @media screen and (max-width: $mobile ){
                    margin-right: 20px;
                }
            }
            &.active {
                color: $color-swamp-green;
            }
            &:hover {
                text-decoration: none;
                background-position: 0 70%;
            }
        }
    }

    .open-mobile-menu {
        display: block;
        float: right;
        @media screen and (max-width: $mobile ){
            display: inline-block;
            position: absolute;
            z-index: 99;
            background: white;
            width: calc(100% + 30px);
            left: -15px;
            top: -22px;
            padding: 96px 30px 30px 30px;
            transition: .3s;
            margin-top: -660px;
        }

        .social-share-menu {
            color: $color-dusty-gray;
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            font-family: "Hind Semi Bold";
            display: none;
            @media screen and (max-width: $mobile ){
                display: inline-block;
            }
            img {
                width: 24px;
                margin-left: 20px;
                @media screen and (max-width: 350px ){
                    margin-left: 5px;
                }
            }
        }
    }

    .mobile-menu-img {
        display: none;
        width: 119px;
        margin-bottom: 41px;
        @media screen and (max-width: $mobile ){
            display: inline-block;
        }
    }

    .hamburger {
        display: none;
        padding: 0;
        z-index: 100;
        position: relative;

        @media screen and (max-width: $mobile ){
            display: inline-block;
        }

        &.is-active {
            .hamburger-inner {
                &:after {
                    transform: translate3d(0, -7px, 0) rotate(-45deg);
                }
                &:before {
                    transform: translate3d(0, 7px, 0) rotate(45deg);
                }
            }
            + .open-mobile-menu {
                margin-top: 0;
            }
        }

        .hamburger-box {
            width: 23px;
        }

        .hamburger-inner {
            height: 2px;
            border-radius: 0;
            width: 23px;
            &:before {
                height: 2px;
                border-radius: 0;
                width: 23px;
                top: -7px;
            }
            &:after {
                height: 2px;
                border-radius: 0;
                width: 23px;
                bottom: -7px;
            }
        }
    }
}
