//Layout variables
$grid-gutter-width:         30px !default;
$container-large-desktop: (1110px + $grid-gutter-width) !default;

//breakpoints (desktop first)
$mobile: 767px;
$tablet: 991px;
$desktop: 1199px;

//Colors
$color-black: #000;
$color-white: #FFF;
$color-green-white: #EAECE1;
$color-swamp-green: #B6BF8C;
$color-sushi: #80B541;
$color-dusty-gray: #9B9B9B;
$color-tundora: #4E4E4E;

.sushi {
    color: $color-sushi;
}

//Fonts
@font-face {
    font-family: "Hind";
    src: url("../fonts/Hind-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Bold";
    src: url("../fonts/Hind-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Semi Bold";
    src: url("../fonts/Hind-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Deja Vu";
    src: url("../fonts/DejaVuSerif.ttf") format("truetype");
}

@font-face {
    font-family: "Deja Vu Bold";
    src: url("../fonts/DejaVuSerif-Bold.ttf") format("truetype");
}
